<div class='fixed -z-10 rounded-full border-neutral-100 border-2 w-96 h-96 top-[-18rem] md:top-[-16rem] left-[-12rem]'>
</div>
<div class='fixed bottom-[-8rem] right-[-8rem] -z-10 rounded-full w-[43rem] h-[43rem] border-neutral-100 border-2'>
</div>
<div class='fixed -bottom-20 -right-20 -z-10 rounded-full w-[37rem] h-[37rem] border-neutral-100 border-2'></div>
